// Creating custom variables
$gunmetal: #2A2D34;
$celestial: #009DDC;
$orange: #F26430;
$violet: #6761A8;
$green: #009B72;

$gray: #495867;
$blue: #577399;
$light-blue: #BDD5EA;
$ghost-white: #F7F7FF;
$light-gray: #777;

$black: #02010A;
$lighter-gray2: #e9e9e9;

$body-color: $ghost-white;
$body-bg: $gunmetal;
$primary: $celestial;

@import '~bootstrap/scss/bootstrap';

body {
	font-family: 'Exo 2', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-weight: 300;
}

h1,
h2 {
	margin-bottom: 10px;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h5 {
	font-size: 1rem;
}

ul {
	margin: 0;
	padding: 0;
}

hr {
	border: 0;
	height: 1px;
	margin: 22px 0;
	background-image: linear-gradient(to right, transparent, $lighter-gray2, transparent);
}

a {
	color: $blue;

	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

.positions>.col,
.education>.col {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		width: 2px;
		height: 100%;
		background-color: $ghost-white;
		top: 0;
		left: 51px;
		margin: 2.5rem 0 0 0;
	}

	&:last-child:after {
		display: none;
	}

}

ul {
	li {
		display: block;
		padding-left: 30px;
		background: url('../images/check.png') no-repeat 0% 50%;

		@include media-breakpoint-down(sm) {
			padding: 0;
			background: transparent;
		}
	}
}